<html>
<head>
	<title>Автосалон: Электромобиль "Калашников"</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<div>
		<p><img src="~/Content/Images/jiguli.jpg" width="300" height="200" alt="Электромобиль 'Калашников'" border = 4 align=left></p>
		<p>Концерн «Калашников» представил электрический концепт-кар CV-1 на международном форуме «Армия-2018».  В основе концепта несколько оригинальных систем, разработанных Концерном.
		В том числе быстродействующая система модульного управления элементами питания, позволяющая достигать 2000А (в перспективе 3000А) с контролем элементов в режиме реального времени и контролем заряда и преразряда. Кроме того CV-1  обладает системой оптимальной балансировки элементов с учетом малейшей разницы в характеристиках каждого. 
		Батарея электрического суперкара запитывает революционный инвертор, с габаритами 50х50х100 см и массой в 50 кг, и позволяет развивать мощности до 1.2 МВт полезной нагрузки.
		Представленный концепт, построенный на базе ретрокузова ИЖ-21252 «Комби», является стендом тестирования разрабатываемых сложных систем. Их состояние регулируется общим бортовым вычислителем собственной разработки Концерна «Калашников», который позволяет отслеживать состояние двигателя, инвертора и батареи.</p>
		<p><b>Емкость батареи - 90 кВт/ч.<br>Мощность CV-1 - 220 кВт.<br>Запас хода - 350 км.<br>Время разгона от 0 до 100 км/ч - 6 секунд.</b></p>
	</div>
</body>
</html>