<html>
<head>
	<title>Автосалон: Главная</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<h3>Лучшие предложения</h3>

	@{
		ViewBag.Title = "Index";
	}

	<div class="container">
		<div class="row">
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/vesta.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/ford.jpg" class="img-thumbnail"></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
			<div class="col-sm-4"><img src="~/Content/Images/jiguli.jpg" class="img-thumbnail"></div>
		</div>
	</div>
</body>
</html>