
@{
	ViewBag.Title = "News";
}

<body>
	<div class="container">
		<h3>Новости</h3>

		<p><b>Акция!</b> Автомобили Toyota по сниженной цене, только осенью 2018.</p>
		<p><b>Спец</b> Зима близко. Обзор внедорожников в зимних условиях.</p>
		<p><b>Спец</b> Ёлочки или колбочки? Выбираем правильный ароматизатор для курящих автолюбителей.</p>
		<p><b>Акция!</b> Большие скидки на обслуживание кондиционеров.</p>
	</div>
</body>

